<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      Review by <%= User.find(rating.user_id).first_name %>:
    </h3>

    <div>
      <% (1..rating.rating).each do |i| %>
        ★
      <% end %>
      <% ((rating.rating + 1)..5).each do |i| %>
        ☆
      <% end %>
    </div>

    <div>
      <%= rating.description %>
    </div>
  </div>

  <div class="panel-footer">
    <%=
    link_to fa_icon('trash'),
      [@product, rating],
      class: 'btn btn-sm btn-danger',
      method: :delete,
      data: { confirm: "Are you sure?" }
    %>
  </div>
</div>